@charset "UTF-8";

/* 메인페이지 */
.main_page .now_time_wrap{}
.main_page .now_time_wrap .now_time{height: 40px;line-height: 40px;color: #fff;background-color: #CB7999;font-weight: bold;text-align: center;font-size: 15px;}
.main_page .non_notice_wrap{padding: 0 6px;height: 44px;line-height: 44px;}
.main_page .non_notice_wrap .non_notice_tit{float: left;font-weight: bold;color: #fff;}
.main_page .non_notice_wrap .non_notice_cnt{float: right;color: #fff;}
.main_page .cal_wrap{padding:  6px 0;border-top: 1px solid #CB7999;border-bottom: 1px solid #CB7999;}
.main_page .jqx-widget-content{background-color: transparent;border: none;color: #fff;}
.main_page .jqx-calendar-title-content{color: #fff;}
.main_page .jqx-calendar td{color: #fff;}
.main_page .jqx-calendar-cell-today{border: none;background-color: rgba(203, 121, 153, 0.6);border: none;}
.main_page .jqx-fill-state-hover{border: none;background-color: rgba(203, 121, 153, 0.6);}
.main_page .jqx-fill-state-pressed{border: none;background-color: rgba(0, 0, 0, 0.3);}
.main_page .jqx-widget-header{background-color: transparent;}

.main_page .top_wrap{margin-top: 10px;}
.main_page .bottom_wrap{margin: 1% 0 0;}
.main_page .bottom_lt_wrap{float: left;width: 50%;}
.main_page .bottom_rt_wrap{float: left;width: 50%;}
.main_page .contents_wrap{border: 1px solid rgb(27, 27, 27);border-radius: 5px;}
.main_page .notice_wrap{padding: 1%;}
.main_page .eas_wait_wrap{padding: 2%;margin-right: 1%;}
.main_page .company_bd_wrap{padding: 2%;margin-top: 2%;margin-right: 1%;}
.main_page .mail_wrap{padding: 2%;margin-left: 1%;}
.main_page .team_bd_wrap{padding: 2%;margin-top: 2%;margin-left: 1%;}
.main_page .contents_wrap .tit{margin-bottom: 6px;padding: 2px 0 10px;font-size: 16px;font-weight: bold;border-bottom: 1px solid #E6E9F0;}
.main_page .contents_wrap .cnt .list{padding: 10px 0;}
.main_page .contents_wrap .cnt .list .cnt_tit{float: left;width: 68%;font-weight: bold;color: #6c6d80;}
.main_page .contents_wrap .cnt .list.read .cnt_tit{color: #afb0b7;}
.main_page .contents_wrap .cnt .list .cnt_name{float: left;width: 14%;text-align: right;}
.main_page .contents_wrap .cnt .list .cnt_time{float: left;width: 18%;color: #CACDD4;text-align: right;}

/* 주소록 */
.address_page {}
.address_page .main_ctn .main_cnt .main_cnt_list_btn{padding: 40px 0;text-align: right;}
.address_page .spe_day_ctn{padding-top: 10px;}
.address_page .spe_day_list{margin-bottom: 10px;padding: 10px;width: 351px;border: 1px solid #f5cadb;border-radius: 5px;}
.address_page .spe_day_tit{padding-bottom: 6px;}
.address_page .spe_day_date_type{padding: 4px 0;text-align: left;}
.address_page .spe_day_date_btn{text-align: right;}
.address_page .spe_day_add_btn{}
.address_page .spe_day_wrap{display: none;}
.address_page .spe_day_wrap .datepicker{margin-left: 5px;}
.address_page .spe_day_tbl {border-top: 1px solid #dcbdc9;border-bottom: 1px solid #dcbdc9;text-align: center;}
.address_page .spe_day_tbl tr th{padding: 8px 20px;}
.address_page .spe_day_tbl tr td{padding: 8px 0;border-top: 1px solid #ddd;}
.address_page .inner_lt .menu_wrap{height: 100%;}
.address_page .tree_menu_wrap{overflow-y: auto;height: calc(100% - 80px);padding: 10px 20px;}
/* Chrome, Safari용 스크롤 바 */
.address_page .tree_menu_wrap::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #44455B;}
.address_page .tree_menu_wrap::-webkit-scrollbar-button:start:decrement, .address_page .tree_menu_wrap::-webkit-scrollbar-button:end:increment {display: block; height: 10px;background-color: #44455B;}
.address_page .tree_menu_wrap::-webkit-scrollbar-track {background: #44455B; -webkit-border-radius: 10px; border-radius:10px;}
.address_page .tree_menu_wrap::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(255,255,255,.2); -webkit-border-radius: 8px; border-radius: 8px;}