@charset "UTF-8";

.tbl_common.tbl_basic .tbl_wrap tr th {
	padding: 14px 70px;
	text-align: center;
}
.tbl_common.tbl_basic .tbl_wrap tr td{
	text-align: center;
}
.btn_main_plus {
	display:inline-block;
	padding:0 10px;
}
.btn_main_up{
	display:inline-block;
	padding:0 10px;
}
.btn_main_down {
	display:inline-block;
	padding:0 10px;
}
.save{
	display:inline-block;
	float : right;
	margin: 5px;
}
.add {
	display:inline-block;
	margin: 5px;
	float : right;
}
.button btn_blue add {
	float : right;
}
.clearfix2 {
	display:flex;
}

.tit {
	margin-left:80px;
	
}
.box_cnt {
	margin-top: 15px;
    margin-left: 150px;
    font-size: 12px;
    font-weight: bold
}
.list {
	list-style:inherit;
}
.list2 {
	margin-left: 20px;
	font-weight: bold;
}
.descr {
	margin-left: -20px;
	color:red;
	font-weight: bold;
}
.tit1 {
	border-right: 1px solid #ddd;
	font-weight: bold; 
}
.tbl_common.tbl_basic .tbl_wrap tr td.tit2_qwe {
	border-right: 1px solid #ddd;
	font-weight: bold;
	 
	
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbselect {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbdesc {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbsec {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbauto {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr.tbcenter {
	border:none;
}
.tbl_common.tbl_basic .tbl_wrap tr.tbbot {
	border:none;
}
.tbinput{
	width:40px; 
}
.tbdiv {
	display: inline-block;
	font-weight:bold;
	padding:0 0 0 30px;
	text-align: center;
}
.tbdiv2 {
	margin-bottom: 30px;	
}
.annbtn {
	margin-top: 20px;
	margin-bottom: 100px;
}
.annbtn2 {
	display: inline-block;
}
.tbl_common.tbl_basic .tbl_wrap tr td.align {
	text-align:center;
	width:16.6%;
}
.main_cnt_desc2 {
	display: inline-block;
	float:right;
}
.test {
	position: relative;
	bottom: 5px;
}
.left {
	float:left;
}
